<th:block th:fragment="langs">

     <div th:replace="~{fragments/languageEntry :: languageEntry ('en_GB', 'English (GB)')}" ></div>
     <div th:replace="~{fragments/languageEntry :: languageEntry ('en_US', 'English (US)')}" ></div>
     <div th:replace="~{fragments/languageEntry :: languageEntry ('eu_ES', 'Euskara')}" ></div>
     <div th:replace="~{fragments/languageEntry :: languageEntry ('es_ES', 'Español')}" ></div>
     <div th:replace="~{fragments/languageEntry :: languageEntry ('fr_FR', 'Français')}" ></div>
     <div th:replace="~{fragments/languageEntry :: languageEntry ('id_ID', 'Bahasa Indonesia')}" ></div>


</th:block>